*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gudea", sans-serif;
}

:root{
    --brand-color: #12b142;
    --text-color-light: #333;
    --text-color-dark: #eee;
}

/* ::-webkit-scrollbar{
    background-color: red;
}

::-webkit-scrollbar-button{
    background-color: red;
}

::-webkit-scrollbar-track{
    background-color: #12b142;
} */

html{
    position: relative;
}

body{
    overflow: hidden;
}

button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

header{
    padding: .75rem;
    background-color: var(--brand-color);
    color: var(--text-color-dark);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#options nav{
    padding: 0 .5rem;
    width: 10rem;
}

#options ul{
    display: flex;
    justify-content: space-around;
}

#options ul button{
    font-size: x-large;
    color: var(--text-color-dark);
}

#not-header{
    transform: translateY(4rem);
    /* overflow-y: scroll; */
}

#info{
    padding: 1rem;
    position: fixed;
    top: 0;
    background-color: yellow;
}

#content{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    column-gap: 1rem;
    padding: .25rem;
}

#content button:hover{
    background-color: rgb(218, 216, 214);
}

#content section{
    padding: .5rem;
}

#left-sidebar ul, #right-sidebar ul{
    overflow-y: scroll;
    height: 87dvh
}

#left-sidebar button{
    display: inline-block;
    width: 100%;
    text-align: left;
    padding: .5rem;
}